In [1]:
/* 27-4 */
/* simplest option */
BACKUP LOG AdventureWorks2014
TO DISK = 'C:\Apress\AdventureWorks2014.trn';
GO

: Msg 4208, Level 16, State 1, Line 3
The statement BACKUP LOG is not allowed while the recovery model is SIMPLE. Use BACKUP DATABASE or change the recovery model using ALTER DATABASE.

: Msg 3013, Level 16, State 1, Line 3
BACKUP LOG is terminating abnormally.

In [2]:
/* to allow flexibility */
DECLARE @DiskPath VARCHAR(256)
	, @DBName sysname = 'AdventureWorks2014';

SET @DiskPath = 'C:\Apress\' + @DBName + '_'
	+ REPLACE(REPLACE(REPLACE(CONVERT(CHAR(19), GETDATE(), 126), ' ', '_'), '-',
						''), ':', '') + '.trn';

In [3]:
BACKUP LOG @DBName
	TO DISK = @DiskPath
	WITH INIT,CHECKSUM,COMPRESSION;
GO

: Msg 137, Level 15, State 2, Line 1
Must declare the scalar variable "@DBName".