In [1]:
/* 27-7 */
USE master;
GO

IF EXISTS (SELECT * FROM sys.databases WHERE name = 'AdventureWorks2014_Bak')
BEGIN
DROP DATABASE AdventureWorks2014_Bak;
END
CREATE DATABASE AdventureWorks2014_Bak;
GO

In [2]:
USE AdventureWorks2014_Bak;
GO
CREATE SCHEMA Person
GO

In [3]:
SELECT BusinessEntityID,
	 FirstName,
	 MiddleName,
	 LastName
INTO Person.Person
FROM AdventureWorks2014.Person.Person;
GO

In [4]:
SELECT TOP 6 *
FROM Person.Person
ORDER BY BusinessEntityID;
GO

BusinessEntityID,FirstName,MiddleName,LastName
1,Ken,J,Sánchez
2,Terri,Lee,Duffy
3,Roberto,NULL,Tamburello
4,Rob,NULL,Walters
5,Gail,A,Erickson
6,Jossef,H,Goldberg