In [1]:
/* 27-8 */
/* create a snapshot */
USE master;
GO

CREATE DATABASE AdventureWorks2014_SS ON
( NAME = AdventureWorks2014_Data, FILENAME = 
'C:\Apress\AdventureWorks2014_SS.ss' )
AS SNAPSHOT OF AdventureWorks2014;
GO

In [2]:
USE master;
GO

SELECT DB_NAME(database_id) AS DBName,
     name AS FileName,
	 type_desc,
	 size
FROM sys.master_files
WHERE DB_NAME(database_id) LIKE 'AdventureWorks2014%'
	AND type_desc = 'ROWS';
GO

DBName,FileName,type_desc,size
AdventureWorks2014,AdventureWorks2014_Data,ROWS,28320
AdventureWorks2014_Bak,AdventureWorks2014_Bak,ROWS,1024
AdventureWorks2014_SS,AdventureWorks2014_Data,ROWS,28320

In [3]:
/* find snapshots */
USE master;
GO

SELECT d.name AS DBName,
	 DB_NAME(d.source_database_id) AS SourceDB,
	 d.create_date,
	 d.is_read_only,
	 mf.is_sparse
FROM sys.master_files mf
	INNER JOIN sys.databases d
		ON d.database_id = mf.database_id
WHERE d.name LIKE 'AdventureWorks2014%'
	AND type_desc = 'ROWS';
GO

DBName,SourceDB,create_date,is_read_only,is_sparse
AdventureWorks2014,NULL,2020-09-01 19:40:44.237,0,0
AdventureWorks2014_Bak,NULL,2020-10-07 20:06:39.403,0,0
AdventureWorks2014_SS,AdventureWorks2014,2020-10-07 20:08:12.503,1,1