In [1]:
/* 22-4 */
DBCC FREEPROCCACHE;
GO
USE AdventureWorks2014;
GO
SELECT BusinessEntityID, TerritoryID, SalesQuota
FROM Sales.SalesPerson;

BusinessEntityID,TerritoryID,SalesQuota
274,NULL,NULL
275,2,300000.0000
276,4,250000.0000
277,3,250000.0000
278,6,250000.0000
279,5,300000.0000
280,1,250000.0000
281,4,250000.0000
282,6,250000.0000
283,1,250000.0000
284,1,300000.0000
285,NULL,NULL
286,9,250000.0000
287,NULL,NULL
288,8,250000.0000
289,10,250000.0000
290,7,250000.0000

In [2]:
USE AdventureWorks2014;
GO
SELECT  t.text,
st.total_logical_reads,
st.total_physical_reads,
st.total_elapsed_time/1000000 Total_Time_Secs,
st.total_logical_writes 
FROM sys.dm_exec_query_stats st 
CROSS APPLY sys.dm_exec_sql_text(st.sql_handle) t;