In [1]:
/* 22-3 */
USE AdventureWorks2014;
GO
SET STATISTICS IO ON;
GO
SELECT t.Name TerritoryNM,
SUM(TotalDue) TotalDue 
FROM Sales.SalesOrderHeader h 
INNER JOIN Sales.SalesTerritory t 
ON h.TerritoryID = t.TerritoryID 
WHERE OrderDate BETWEEN '1/1/2014' AND '12/31/2014' 
GROUP BY t.Name 
ORDER BY t.Name
SET STATISTICS IO OFF;
GO

TerritoryNM,TotalDue
Australia,3071053.8419
Canada,2681602.5941
Central,1077449.2196
France,1868973.7989
Germany,1729718.5224
Northeast,876730.6057
Northwest,3355402.8175
Southeast,985940.2109
Southwest,4437517.8076
United Kingdom,2335108.8971

In [2]:
/* try with statistics time now */
USE AdventureWorks2014;
GO
SET STATISTICS TIME ON;
GO
SELECT t.Name TerritoryNM,
SUM(TotalDue) TotalDue 
FROM Sales.SalesOrderHeader h 
INNER JOIN Sales.SalesTerritory t 
ON h.TerritoryID = t.TerritoryID 
WHERE OrderDate BETWEEN '1/1/2014' AND '12/31/2014' 
GROUP BY t.Name 
ORDER BY t.Name
SET STATISTICS TIME OFF;
GO

TerritoryNM,TotalDue
Australia,3071053.8419
Canada,2681602.5941
Central,1077449.2196
France,1868973.7989
Germany,1729718.5224
Northeast,876730.6057
Northwest,3355402.8175
Southeast,985940.2109
Southwest,4437517.8076
United Kingdom,2335108.8971