In [1]:
USE AdventureWorks2014;
GO

In [2]:
-- recipe 13.1
CREATE TABLE dbo.Person (
  PersonID INT IDENTITY CONSTRAINT PK_Person PRIMARY KEY CLUSTERED,
  BusinessEntityId INT NOT NULL 
      CONSTRAINT FK_Person REFERENCES Person.BusinessEntity (BusinessEntityID),
  First_Name VARCHAR(50) NOT NULL);

CREATE TABLE dbo.Test (
  Column1 INT NOT NULL,
  Column2 INT NOT NULL,
  CONSTRAINT PK_Test PRIMARY KEY CLUSTERED (Column1, Column2));

: Msg 2714, Level 16, State 6, Line 2
There is already an object named 'Person' in the database.

In [3]:
-- recipe 13.2
ALTER TABLE dbo.Person 
ADD Last_Name VARCHAR(50) NULL;

In [4]:
-- recipe 13.3
ALTER TABLE dbo.Person 
ADD IsActive BIT NOT NULL
CONSTRAINT DF__Person__IsActive DEFAULT (0);

In [5]:
--recipe 13.4
ALTER TABLE dbo.Person 
ALTER COLUMN Last_Name VARCHAR(75) NULL;

In [6]:
-- recipe 13.5
ALTER TABLE Production.TransactionHistory 
ADD CostPerUnit AS (ActualCost/Quantity);

CREATE TABLE HumanResources.CompanyStatistic (
  CompanylD int NOT NULL,
  StockTicker char(4) NOT NULL,
  SharesOutstanding int NOT NULL,
  Shareholders int NOT NULL,
  AvgSharesPerShareholder AS (SharesOutstanding/Shareholders) PERSISTED);

SELECT  TOP (1) CostPerUnit, Quantity, ActualCost 
FROM    Production.TransactionHistory 
WHERE   Quantity > 10 
ORDER BY ActualCost DESC;

: Msg 2705, Level 16, State 5, Line 2
Column names in each table must be unique. Column name 'CostPerUnit' in table 'Production.TransactionHistory' is specified more than once.

In [7]:
-- recipe 13.6
ALTER TABLE dbo.Person 
DROP COLUMN Last_Name;

In [8]:
-- recipe 13.7
DROP TABLE dbo.Person;

: Msg 3726, Level 16, State 1, Line 2
Could not drop object 'dbo.Person' because it is referenced by a FOREIGN KEY constraint.

In [9]:
-- recipe 13.8
EXECUTE sp_help 'Person.Person';

Name,Owner,Type,Created_datetime
Person,dbo,user table,2014-07-17 16:11:15.027

Column_name,Type,Computed,Length,Prec,Scale,Nullable,TrimTrailingBlanks,FixedLenNullInSource,Collation
BusinessEntityID,int,no,4,10,0,no,(n/a),(n/a),NULL
PersonType,nchar,no,4,,,no,(n/a),(n/a),SQL_Latin1_General_CP1_CI_AS
NameStyle,NameStyle,no,1,,,no,(n/a),(n/a),NULL
Title,nvarchar,no,16,,,yes,(n/a),(n/a),SQL_Latin1_General_CP1_CI_AS
FirstName,Name,no,100,,,no,(n/a),(n/a),SQL_Latin1_General_CP1_CI_AS
MiddleName,Name,no,100,,,yes,(n/a),(n/a),SQL_Latin1_General_CP1_CI_AS
LastName,Name,no,100,,,no,(n/a),(n/a),SQL_Latin1_General_CP1_CI_AS
Suffix,nvarchar,no,20,,,yes,(n/a),(n/a),SQL_Latin1_General_CP1_CI_AS
EmailPromotion,int,no,4,10,0,no,(n/a),(n/a),NULL
AdditionalContactInfo,xml,no,-1,,,yes,(n/a),(n/a),NULL
Demographics,xml,no,-1,,,yes,(n/a),(n/a),NULL
rowguid,uniqueidentifier,no,16,,,no,(n/a),(n/a),NULL
ModifiedDate,datetime,no,8,,,no,(n/a),(n/a),NULL

Identity,Seed,Increment,Not For Replication
No identity column defined.,NULL,NULL,NULL

RowGuidCol
rowguid

Data_located_on_filegroup
PRIMARY

index_name,index_description,index_keys
AK_Person_rowguid,"nonclustered, unique located on PRIMARY",rowguid
IX_Person_LastName_FirstName_MiddleName,nonclustered located on PRIMARY,"LastName, FirstName, MiddleName"
PK_Person_BusinessEntityID,"clustered, unique, primary key located on PRIMARY",BusinessEntityID

constraint_type,constraint_name,delete_action,update_action,status_enabled,status_for_replication,constraint_keys
CHECK on column EmailPromotion,CK_Person_EmailPromotion,(n/a),(n/a),Enabled,Is_For_Replication,([EmailPromotion]>=(0) AND [EmailPromotion]<=(2))
CHECK on column PersonType,CK_Person_PersonType,(n/a),(n/a),Enabled,Is_For_Replication,([PersonType] IS NULL OR (upper([PersonType])='GC' OR upper([PersonType])='SP' OR upper([PersonType])='EM' OR upper([PersonType])='IN' OR upper([PersonType])='VC' OR upper([PersonType])='SC'))
DEFAULT on column EmailPromotion,DF_Person_EmailPromotion,(n/a),(n/a),(n/a),(n/a),((0))
DEFAULT on column ModifiedDate,DF_Person_ModifiedDate,(n/a),(n/a),(n/a),(n/a),(getdate())
DEFAULT on column NameStyle,DF_Person_NameStyle,(n/a),(n/a),(n/a),(n/a),((0))
DEFAULT on column rowguid,DF_Person_rowguid,(n/a),(n/a),(n/a),(n/a),(newid())
FOREIGN KEY,FK_Person_BusinessEntity_BusinessEntityID,No Action,No Action,Enabled,Is_For_Replication,BusinessEntityID
,,,,,,REFERENCES AdventureWorks2014.Person.BusinessEntity (BusinessEntityID)
PRIMARY KEY (clustered),PK_Person_BusinessEntityID,(n/a),(n/a),(n/a),(n/a),BusinessEntityID

Table is referenced by foreign key
AdventureWorks2014.HumanResources.Employee: FK_Employee_Person_BusinessEntityID
AdventureWorks2014.Person.BusinessEntityContact: FK_BusinessEntityContact_Person_PersonID
AdventureWorks2014.Person.EmailAddress: FK_EmailAddress_Person_BusinessEntityID
AdventureWorks2014.Person.Password: FK_Password_Person_BusinessEntityID
AdventureWorks2014.Person.PersonPhone: FK_PersonPhone_Person_BusinessEntityID
AdventureWorks2014.Sales.Customer: FK_Customer_Person_PersonID
AdventureWorks2014.Sales.PersonCreditCard: FK_PersonCreditCard_Person_BusinessEntityID

In [10]:
-- recipe 13.9
CREATE TABLE dbo.WebsiteProduct (
    WebsiteProductID int NOT NULL PRIMARY KEY IDENTITY(1,1),
    ProductNM varchar(255) NOT NULL,
    PublisherNM varchar(255) SPARSE NULL,
    ArtistNM varchar(150) SPARSE NULL,
    ISBNNBR varchar(30) SPARSE NULL,
    DiscsNBR int SPARSE NULL,
    MusicLabelNM varchar(255) SPARSE NULL);

INSERT dbo.WebsiteProduct (ProductNM, PublisherNM, ISBNNBR)
  VALUES ('SQL Server Transact-SQL Recipes', 'Apress', '9781484200629');
INSERT dbo.WebsiteProduct (ProductNM, ArtistNM, DiscsNBR, MusicLabelNM)
  VALUES ('Etiquette', 'Casiotone for the Painfully Alone', 1, 'Tomlab');

SELECT ProductNM, PublisherNM,ISBNNBR FROM dbo.WebsiteProduct WHERE ISBNNBR IS NOT NULL;

ALTER TABLE dbo.WebsiteProduct
ADD ProductAttributeCS XML COLUMN_SET FOR ALL_SPARSE_COLUMNS;

IF OBJECT_ID('dbo.WebsiteProduct', 'U') IS NOT NULL 
   DROP TABLE dbo.WebsiteProduct;
CREATE TABLE dbo.WebsiteProduct (
    WebsiteProductID int NOT NULL PRIMARY KEY IDENTITY(1,1),
    ProductNM varchar(255) NOT NULL,
    PublisherNM varchar(255) SPARSE NULL,
    ArtistNM varchar(150) SPARSE NULL,
    ISBNNBR varchar(30) SPARSE NULL,
    DiscsNBR int SPARSE NULL,
    MusicLabelNM varchar(255) SPARSE NULL,
    ProductAttributeCS xml COLUMN_SET FOR ALL_SPARSE_COLUMNS);

SELECT  ProductNM, ProductAttributeCS 
FROM    dbo.WebsiteProduct 
WHERE   ISBNNBR IS NOT NULL;

INSERT dbo.WebsiteProduct (ProductNM, ProductAttributeCS) 
VALUES ('Roots & Echoes', 
        '<ArtistNM>The Coral</ArtistNM> 
         <DiscsNBR>1</DiscsNBR> 
         <MusicLabelNM>Deltasonic</MusicLabelNM>');

SELECT * FROM dbo.WebsiteProduct;


IF OBJECT_ID('dbo.WebsiteProduct') IS NOT NULL DROP TABLE dbo.WebsiteProduct;
IF OBJECT_ID('dbo.WebsiteProduct_sparse') IS NOT NULL DROP TABLE dbo.WebsiteProduct_sparse;
CREATE TABLE dbo.WebsiteProduct (
    WebsiteProductID int NOT NULL PRIMARY KEY ,
    ProductNM varchar(255) NOT NULL,
    PublisherNM varchar(255) NULL,
    ArtistNM varchar(150) NULL,
    ISBNNBR varchar(30) NULL,
    DiscsNBR int NULL,
    MusicLabelNM varchar(255) NULL);
CREATE TABLE dbo.WebsiteProduct_sparse (
    WebsiteProductID int NOT NULL PRIMARY KEY ,
    ProductNM varchar(255) NOT NULL,
    PublisherNM varchar(255) SPARSE NULL,
    ArtistNM varchar(150) SPARSE NULL,
    ISBNNBR varchar(30) SPARSE NULL,
    DiscsNBR int SPARSE NULL,
    MusicLabelNM varchar(255) SPARSE NULL);
GO
WITH Tens    (N) AS (SELECT 1 UNION ALL SELECT 1 UNION ALL SELECT 1 UNION ALL 
                     SELECT 1 UNION ALL SELECT 1 UNION ALL SELECT 1 UNION ALL
                     SELECT 1 UNION ALL SELECT 1 UNION ALL SELECT 1 UNION ALL SELECT 1),
     Hundreds(N) AS (SELECT 1 FROM Tens t1, Tens t2),
     Millions(N) AS (SELECT 1 FROM Hundreds t1, Hundreds t2, Hundreds t3),
     Tally   (N) AS (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) FROM Millions)
INSERT INTO dbo.WebsiteProduct (WebsiteProductID, ProductNM)
SELECT  TOP (500000) N, 'Product#' + CONVERT(VARCHAR(15), N)
FROM    Tally;

INSERT INTO dbo.WebsiteProduct_sparse (WebsiteProductID, ProductNM)
SELECT  WebsiteProductID, ProductNM
FROM    dbo.WebsiteProduct;

EXECUTE sp_spaceused 'dbo.WebsiteProduct';
EXECUTE sp_spaceused 'dbo.WebsiteProduct_sparse';

: Msg 1734, Level 16, State 1, Line 18
Cannot create the sparse column set 'ProductAttributeCS' in the table 'WebsiteProduct' because the table already contains one or more sparse columns. A sparse column set cannot be added to a table if the table contains a sparse column.

: Msg 544, Level 16, State 1, Line 65
Cannot insert explicit value for identity column in table 'WebsiteProduct' when IDENTITY_INSERT is set to OFF.

: Msg 208, Level 16, State 1, Line 75
Invalid object name 'dbo.WebsiteProduct_sparse'.

In [11]:
-- recipe 13.10
CREATE TABLE dbo.Person (
  PersonID INT IDENTITY NOT NULL,
  BusinessEntityId INT NOT NULL,
  First_Name VARCHAR(50) NULL,
  Last_Name VARCHAR(50) NULL);

ALTER TABLE dbo.Person
  ADD CONSTRAINT PK_Person PRIMARY KEY CLUSTERED (PersonID),
      CONSTRAINT FK_Person FOREIGN KEY (BusinessEntityId) 
          REFERENCES Person.BusinessEntity (BusinessEntityID),
      CONSTRAINT UK_Person_Name UNIQUE (First_Name, Last_Name);

IF OBJECT_ID('dbo.Person','U') IS NOT NULL 
   DROP TABLE dbo.Person;
CREATE TABLE dbo.Person (
  PersonID INT IDENTITY NOT NULL,
  BusinessEntityId INT NOT NULL,
  First_Name VARCHAR(50) NULL,
  Last_Name VARCHAR(50) NULL,
  CONSTRAINT PK_Person PRIMARY KEY CLUSTERED (PersonID),
  CONSTRAINT FK_Person FOREIGN KEY (BusinessEntityId) 
      REFERENCES Person.BusinessEntity (BusinessEntityID),
  CONSTRAINT UK_Person_Name UNIQUE (First_Name, Last_Name) );

IF OBJECT_ID('dbo.Person','U') IS NOT NULL 
   DROP TABLE dbo.Person;
CREATE TABLE dbo.Person (
  PersonID INT IDENTITY NOT NULL
      CONSTRAINT PK_Person PRIMARY KEY CLUSTERED (PersonID),
  BusinessEntityId INT NOT NULL
      CONSTRAINT FK_Person FOREIGN KEY (BusinessEntityId) 
          REFERENCES Person.BusinessEntity (BusinessEntityID),
  First_Name VARCHAR(50) NULL,
  Last_Name VARCHAR(50) NULL,
  CONSTRAINT UK_Person_Name UNIQUE (First_Name, Last_Name) );

INSERT INTO dbo.Person (BusinessEntityId, First_Name) VALUES (1, 'MyName');
INSERT INTO dbo.Person (BusinessEntityId, First_Name) VALUES (1, 'MyName2');
INSERT INTO dbo.Person (BusinessEntityId) VALUES (1);

: Msg 207, Level 16, State 1, Line 38
Invalid column name 'First_Name'.

In [12]:
-- recipe 13.11
CREATE TABLE dbo.Employees (
    employee_id INT IDENTITY PRIMARY KEY CLUSTERED,
    manager_id INT NULL REFERENCES dbo.Employees (employee_id));

INSERT INTO dbo.Employees DEFAULT VALUES;
INSERT INTO dbo.Employees (manager_id) VALUES (1);
SELECT * FROM dbo.Employees;

INSERT INTO dbo.Employees (manager_id) VALUES (10);

: Msg 2714, Level 16, State 6, Line 2
There is already an object named 'Employees' in the database.

In [13]:
-- recipe 13.12
IF OBJECT_ID('dbo.PersonPhone','U') IS NOT NULL DROP TABLE dbo.PersonPhone;
IF OBJECT_ID('dbo.PhoneNumberType','U') IS NOT NULL DROP TABLE dbo.PhoneNumberType;
IF OBJECT_ID('dbo.Person','U') IS NOT NULL DROP TABLE dbo.Person;

CREATE TABLE dbo.Person (
  BusinessEntityId INT PRIMARY KEY,
  FirstName VARCHAR(25),
  LastName  VARCHAR(25));

CREATE TABLE dbo.PhoneNumberType (
  PhoneNumberTypeId INT PRIMARY KEY,
  Name VARCHAR(25));

INSERT INTO dbo.PhoneNumberType
SELECT  PhoneNumberTypeId, Name
FROM    Person.PhoneNumberType;

INSERT INTO dbo.Person
SELECT BusinessEntityId, FirstName, LastName
FROM Person.Person
WHERE BusinessEntityID IN (1,2);

CREATE TABLE dbo.PersonPhone (
        [BusinessEntityID] [int] NOT NULL,
        [PhoneNumber] [dbo].[Phone] NOT NULL,
        [PhoneNumberTypeID] [int] NULL,
        [ModifiedDate] [datetime] NOT NULL,
    CONSTRAINT [UQ_PersonPhone_BusinessEntityID_PhoneNumber_PhoneNumberTypeID] 
        UNIQUE CLUSTERED
            ([BusinessEntityID], [PhoneNumber], [PhoneNumberTypeID]),
    CONSTRAINT [FK_PersonPhone_Person_BusinessEntityID] 
        FOREIGN KEY ([BusinessEntityID]) 
        REFERENCES [dbo].[Person] ([BusinessEntityID]) 
        ON DELETE CASCADE,
    CONSTRAINT [FK_PersonPhone_PhoneNumberType_PhoneNumberTypeID] 
        FOREIGN KEY ([PhoneNumberTypeID]) 
        REFERENCES [dbo].[PhoneNumberType] ([PhoneNumberTypeID]) 
        ON UPDATE SET NULL
);


INSERT INTO dbo.PersonPhone (BusinessEntityId, PhoneNumber, PhoneNumberTypeId, ModifiedDate)
VALUES (1, '757-867-5309', 1, '2012-03-22T00:00:00'),
       (2, '804-867-5309', 2, '2012-03-22T00:00:00');

SELECT 'Initial Data', * FROM dbo.PersonPhone;

DELETE FROM dbo.Person
WHERE BusinessEntityID = 1;

UPDATE dbo.PhoneNumberType
   SET PhoneNumberTypeID = 4
 WHERE PhoneNumberTypeID = 2;

SELECT 'Final Data', * FROM dbo.PersonPhone;

: Msg 213, Level 16, State 1, Line 19
Column name or number of supplied values does not match table definition.

In [14]:
-- recipe 13.13
IF OBJECT_ID('dbo.Employees', 'U') IS NOT NULL 
   DROP TABLE dbo.Employees;
CREATE TABLE dbo.Employees (
    EmployeeId INT PRIMARY KEY CLUSTERED,
    First_Name VARCHAR(50) NOT NULL,
    Last_Name  VARCHAR(50) NOT NULL,
    InsertedDate DATETIME DEFAULT GETDATE());

INSERT INTO dbo.Employees (EmployeeId, First_Name, Last_Name) 
VALUES (1, 'Wayne', 'Sheffield');
INSERT INTO dbo.Employees (EmployeeId, First_Name, Last_Name, InsertedDate) 
VALUES (2, 'Jim', 'Smith', NULL);
SELECT * FROM dbo.Employees;

: Msg 207, Level 16, State 1, Line 10
Invalid column name 'EmployeeId'.

: Msg 207, Level 16, State 1, Line 10
Invalid column name 'First_Name'.

: Msg 207, Level 16, State 1, Line 10
Invalid column name 'Last_Name'.

In [15]:
-- recipe 13.14
CREATE TABLE dbo.BooksRead (
  ISBN      VARCHAR(20),
  StartDate DATETIME NOT NULL,
  EndDate   DATETIME NULL,
  CONSTRAINT CK_BooksRead_EndDate CHECK (EndDate > StartDate));

INSERT INTO BooksRead (ISBN, StartDate, EndDate) 
VALUES ('9781430242000', '2012-08-01T16:25:00', '2011-08-15T12:35:00 ');

IF OBJECT_ID('dbo.Employees','U') IS NOT NULL
   DROP TABLE dbo.Employees;
CREATE TABLE dbo.Employees (
  EmployeeId INT IDENTITY,
  FirstName  VARCHAR(50),
  LastName   VARCHAR(50),
  PhoneNumber VARCHAR(12) CONSTRAINT CK_Employees_PhoneNumber 
    CHECK (PhoneNumber LIKE '[0-9][0-9][0-9]-[0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]'));

INSERT INTO dbo.Employees (FirstName, LastName, PhoneNumber)
VALUES ('Wayne', 'Sheffield', '800-555-1212');

INSERT INTO dbo.Employees (FirstName, LastName, PhoneNumber)
VALUES ('Wayne', 'Sheffield', '555-1212');

: Msg 207, Level 16, State 1, Line 20
Invalid column name 'FirstName'.

: Msg 207, Level 16, State 1, Line 20
Invalid column name 'LastName'.

: Msg 207, Level 16, State 1, Line 20
Invalid column name 'PhoneNumber'.

In [16]:
-- recipe 13.15
ALTER TABLE dbo.Employees
NOCHECK CONSTRAINT CK_Employees_PhoneNumber;

ALTER TABLE dbo.Employees
NOCHECK CONSTRAINT ALL;

ALTER TABLE dbo.Employees
CHECK CONSTRAINT CK_Employees_PhoneNumber;

ALTER TABLE dbo.Employees
WITH CHECK CHECK CONSTRAINT ALL;

: Msg 4917, Level 16, State 0, Line 2
Constraint 'CK_Employees_PhoneNumber' does not exist.

: Msg 4916, Level 16, State 0, Line 2
Could not enable or disable the constraint. See previous errors.

In [17]:
-- recipe 13.16
ALTER TABLE dbo.BooksRead
DROP CONSTRAINT CK_BooksRead_EndDate;

: Msg 4902, Level 16, State 1, Line 2
Cannot find the object "dbo.BooksRead" because it does not exist or you do not have permissions.

In [18]:
-- recipe 13.17
IF OBJECT_ID('dbo.Employees','U') IS NOT NULL
   DROP TABLE dbo.Employees;
CREATE TABLE dbo.Employees (
    employee_id INT IDENTITY PRIMARY KEY CLUSTERED,
    manager_id INT NULL REFERENCES dbo.Employees (employee_id),
    First_Name VARCHAR(50) NULL,
    Last_Name  VARCHAR(50) NULL,
    CONSTRAINT UQ_Employees_Name UNIQUE (First_Name, Last_Name));

INSERT INTO dbo.Employees (manager_id, First_Name, Last_Name)
       VALUES (NULL, 'Wayne', 'Sheffield')

BEGIN TRANSACTION
INSERT INTO dbo.Employees (manager_id, First_Name, Last_Name)
       VALUES (1, 'Jim', 'Smith');
ROLLBACK TRANSACTION;

INSERT INTO dbo.Employees (manager_id, First_Name, Last_Name)
       VALUES (1, 'Jane', 'Smith');

SELECT * FROM dbo.Employees;

SELECT  IDENTITYCOL, employee_id, Last_Name
FROM    dbo.Employees
ORDER BY IDENTITYCOL;

: Msg 207, Level 16, State 1, Line 11
Invalid column name 'First_Name'.

: Msg 207, Level 16, State 1, Line 11
Invalid column name 'Last_Name'.

: Msg 207, Level 16, State 1, Line 24
Invalid column name 'Last_Name'.

In [19]:
-- recipe 13.18
SELECT @@IDENTITY, SCOPE_IDENTITY(), IDENT_CURRENT('dbo.Employees');

(No column name),(No column name),(No column name)
NULL,NULL,3

In [20]:
-- recipe 13.19
DBCC CHECKIDENT ('dbo.Employees');

TRUNCATE TABLE dbo.Employees;
INSERT INTO dbo.Employees (manager_id, First_Name, Last_Name)
       VALUES (NULL, 'Wayne', 'Sheffield');

BEGIN TRANSACTION;
INSERT INTO dbo.Employees (manager_id, First_Name, Last_Name)
       VALUES (1, 'Jim', 'Smith');
ROLLBACK TRANSACTION;

DBCC CHECKIDENT ('dbo.Employees', RESEED, 1); 
INSERT INTO dbo.Employees (manager_id, First_Name, Last_Name)
       VALUES (1, 'Jane', 'Smith');

SELECT * FROM dbo.Employees;

DBCC CHECKIDENT ('dbo.Employees');

: Msg 207, Level 16, State 1, Line 5
Invalid column name 'First_Name'.

: Msg 207, Level 16, State 1, Line 5
Invalid column name 'Last_Name'.

In [21]:
-- recipe 13.20
SET IDENTITY_INSERT dbo.Employees ON;
INSERT INTO dbo.Employees (employee_id, manager_id, First_Name, Last_Name)
VALUES (5, 1, 'Joe', 'Smith');
SET IDENTITY_INSERT dbo.Employees OFF;

: Msg 207, Level 16, State 1, Line 3
Invalid column name 'First_Name'.

: Msg 207, Level 16, State 1, Line 3
Invalid column name 'Last_Name'.

In [22]:
-- recipe 13.21
CREATE TABLE HumanResources.BuildingAccess(
  BuildingEntryExitID uniqueidentifier ROWGUIDCOL 
    CONSTRAINT DF_BuildingAccess_BuildingEntryExitID DEFAULT NEWID() 
    CONSTRAINT UK_BuildingAccess_BuildingEntryExitID UNIQUE, 
  EmployeeID int NOT NULL, 
  AccessTime datetime NOT NULL, 
  DoorID int NOT NULL);
INSERT HumanResources.BuildingAccess (EmployeeID, AccessTime, DoorID) 
VALUES (32, GETDATE(), 2);

SELECT *
  FROM HumanResources.BuildingAccess;
SELECT $ROWGUID
  FROM HumanResources.BuildingAccess;

BuildingEntryExitID,EmployeeID,AccessTime,DoorID
2f5fa82d-46f4-4f68-baad-fa745d50b6d8,32,2020-09-14 18:27:45.710,2

BuildingEntryExitID
2f5fa82d-46f4-4f68-baad-fa745d50b6d8

In [23]:
-- recipe 13.22
CREATE SEQUENCE dbo.MySequence
    AS INTEGER
       START WITH 1
       INCREMENT BY 1;
GO

CREATE TABLE dbo.Table1 (
  Table1ID INTEGER NOT NULL,
  Table1Data VARCHAR(50));
CREATE TABLE dbo.Table2 (
  Table2ID INTEGER NOT NULL,
  Table2Data VARCHAR(50));

INSERT INTO dbo.Table1 (Table1ID, Table1Data)
VALUES (NEXT VALUE FOR dbo.MySequence, 'Ferrari'),
       (NEXT VALUE FOR dbo.MySequence, 'Lamborghini');

INSERT INTO dbo.Table2 (Table2ID, Table2Data)
VALUES (NEXT VALUE FOR dbo.MySequence, 'Apple'),
       (NEXT VALUE FOR dbo.MySequence, 'Orange');    

SELECT * FROM dbo.Table1;
SELECT * FROM dbo.Table2;

Table1ID,Table1Data
1,Ferrari
2,Lamborghini

Table2ID,Table2Data
3,Apple
4,Orange

In [24]:
-- recipe 13.23
CREATE TABLE #temp (
  Column1 INT,
  Column2 INT);

DECLARE @temp TABLE (
  Column1 INT,
  Column2 INT);

In [25]:
-- cleanup
IF OBJECT_ID('dbo.Person') IS NOT NULL DROP TABLE dbo.Person;
IF OBJECT_ID('dbo.Test') IS NOT NULL DROP TABLE dbo.Test;
IF OBJECT_ID('HumanResources.CompanyStatistic') IS NOT NULL DROP TABLE HumanResources.CompanyStatistic;
IF EXISTS (SELECT 1 FROM sys.columns WHERE name = 'CostPerUnit' AND object_id = OBJECT_ID('Production.TransactionHistory'))
    ALTER TABLE Production.TransactionHistory DROP COLUMN CostPerUnit;
IF OBJECT_ID('dbo.WebsiteProduct') IS NOT NULL DROP TABLE dbo.WebsiteProduct;
IF OBJECT_ID('dbo.Employees') IS NOT NULL DROP TABLE dbo.Employees;
IF OBJECT_ID('dbo.PersonPhone') IS NOT NULL DROP TABLE dbo.PersonPhone;
IF OBJECT_ID('dbo.BooksRead') IS NOT NULL DROP TABLE dbo.BooksRead;
IF OBJECT_ID('HumanResources.BuildingAccess') IS NOT NULL DROP TABLE HumanResources.BuildingAccess;
IF EXISTS (SELECT 1 FROM sys.sequences WHERE name = 'MySequence')
    DROP SEQUENCE dbo.MySequence;
IF OBJECT_ID('dbo.Table1') IS NOT NULL DROP TABLE dbo.Table1;
IF OBJECT_ID('dbo.Table2') IS NOT NULL DROP TABLE dbo.Table2;

: Msg 3726, Level 16, State 1, Line 2
Could not drop object 'dbo.Person' because it is referenced by a FOREIGN KEY constraint.