In [1]:
/* 15-2 */

USE AdventureWorks2014;
GO
CREATE UNIQUE NONCLUSTERED INDEX UNI_TerminationReason ON HumanResources.TerminationReason (TerminationReason);

In [2]:
/*Insert some values */
USE AdventureWorks2014;
GO
INSERT INTO HumanResources.TerminationReason (DepartmentID, TerminationReason) 
  VALUES (1, 'Bad Engineering Skills')
  ,(2, 'Breaks Expensive Tools');

In [3]:
/* Insert a duplicate value */
USE AdventureWorks2014;
GO
INSERT INTO HumanResources.TerminationReason (DepartmentID, TerminationReason) 
	VALUES (2, 'Bad Engineering Skills');

: Msg 2601, Level 14, State 1, Line 4
Cannot insert duplicate key row in object 'HumanResources.TerminationReason' with unique index 'UNI_TerminationReason'. The duplicate key value is (Bad Engineering Skills).