In [1]:
USE AdventureWorks2014
SET NOCOUNT ON;

In [2]:
-- recipe 10.1
SELECT 'GETDATE()' AS [Function],           GETDATE() AS [Value];
SELECT 'CURRENT_TIMESTAMP'AS [Function],    CURRENT_TIMESTAMP AS [Value];
SELECT 'GETUTCDATE()' AS [Function],        GETUTCDATE() AS [Value];
SELECT 'SYSDATETIME()' AS [Function],       SYSDATETIME() AS [Value];
SELECT 'SYSUTCDATETIME()' AS [Function],    SYSUTCDATETIME() AS [Value];
SELECT 'SYSDATETIMEOFFSET()' AS [Function], SYSDATETIMEOFFSET() AS [Value];

Function,Value
GETDATE(),2020-09-13 09:10:52.507

Function,Value
CURRENT_TIMESTAMP,2020-09-13 09:10:52.507

Function,Value
GETUTCDATE(),2020-09-13 13:10:52.507

Function,Value
SYSDATETIME(),2020-09-13 09:10:52.5089302

Function,Value
SYSUTCDATETIME(),2020-09-13 13:10:52.5089302

Function,Value
SYSDATETIMEOFFSET(),2020-09-13 09:10:52.5089302 -04:00

In [3]:
-- recipe 10.2
SELECT SWITCHOFFSET(SYSDATETIMEOFFSET(), '+03:00');

(No column name)
2020-09-13 16:10:56.2829269 +03:00

In [4]:
-- recipe 10.3
SELECT  TODATETIMEOFFSET(GETDATE(), '-05:00') AS [Eastern Time Zone Time],
       	SYSDATETIMEOFFSET() [Current System Time];

Eastern Time Zone Time,Current System Time
2020-09-13 09:10:56.7830000 -05:00,2020-09-13 09:10:56.7869254 -04:00

In [5]:
-- recipe 10.4
SELECT DATEADD(YEAR, -1, '2009-04-02T00:00:00');

(No column name)
2008-04-02 00:00:00.000

In [6]:
-- recipe 10.5
SELECT  TOP (5)
       	ProductID,
       	GETDATE() AS Today,
       	EndDate,
       	DATEDIFF(MONTH, EndDate, GETDATE()) AS ElapsedMonths
FROM 	Production.ProductCostHistory
WHERE   EndDate IS NOT NULL
ORDER BY ProductID;


WITH cteDates (StartDate, EndDate) AS 
(
SELECT  CONVERT(DATETIME2, '2010-12-31T23:59:59.9999999'), 
        CONVERT(DATETIME2, '2011-01-01T00:00:00.0000000')
)
SELECT  StartDate,
        EndDate,
        DATEDIFF(YEAR, StartDate, EndDate) AS Years,
        DATEDIFF(QUARTER, StartDate, EndDate) AS Quarters,
        DATEDIFF(MONTH, StartDate, EndDate) AS Months,
        DATEDIFF(DAY, StartDate, EndDate) AS Days,
        DATEDIFF(HOUR, StartDate, EndDate) AS Hours,
        DATEDIFF(MINUTE, StartDate, EndDate) AS Minutes,
        DATEDIFF(SECOND, StartDate, EndDate) AS Seconds,
        DATEDIFF(MILLISECOND, StartDate, EndDate) AS Milliseconds,
        DATEDIFF(MICROSECOND, StartDate, EndDate) AS MicroSeconds
FROM    cteDates;

ProductID,Today,EndDate,ElapsedMonths
707,2020-09-13 09:10:57.737,2012-05-29 00:00:00.000,100
707,2020-09-13 09:10:57.737,2013-05-29 00:00:00.000,88
708,2020-09-13 09:10:57.737,2012-05-29 00:00:00.000,100
708,2020-09-13 09:10:57.737,2013-05-29 00:00:00.000,88
709,2020-09-13 09:10:57.737,2012-05-29 00:00:00.000,100

StartDate,EndDate,Years,Quarters,Months,Days,Hours,Minutes,Seconds,Milliseconds,MicroSeconds
2010-12-31 23:59:59.9999999,2011-01-01 00:00:00.0000000,1,1,1,1,1,1,1,1,1

In [7]:
-- recipe 10.6
DECLARE @StartDate DATETIME2 = '2012-01-01T18:25:42.9999999',
        @EndDate   DATETIME2 = '2012-06-15T13:12:11.8675309';

WITH cte AS
(
SELECT  DATEDIFF(SECOND, @StartDate, @EndDate) AS ElapsedSeconds,
        DATEDIFF(SECOND, @StartDate, @EndDate)/60 AS ElapsedMinutes,
        DATEDIFF(SECOND, @StartDate, @EndDate)/3600 AS ElapsedHours,
        DATEDIFF(SECOND, @StartDate, @EndDate)/86400 AS ElapsedDays
)
SELECT  @StartDate AS StartDate,
        @EndDate AS EndDate,
        CONVERT(VARCHAR(10), ElapsedDays) + ':' +
        CONVERT(VARCHAR(10), ElapsedHours%24) + ':' +
        CONVERT(VARCHAR(10), ElapsedMinutes%60) + ':' +
        CONVERT(VARCHAR(10), ElapsedSeconds%60) AS [ElapsedTime (D:H:M:S)]
FROM    cte;

StartDate,EndDate,ElapsedTime (D:H:M:S)
2012-01-01 18:25:42.9999999,2012-06-15 13:12:11.8675309,165:18:46:29

In [8]:
-- recipe 10.7
SELECT  TOP (5)
        ProductID,
        EndDate,
        DATENAME(MONTH, EndDate) AS MonthName,
        DATENAME(WEEKDAY, EndDate) AS WeekDayName
FROM    Production.ProductCostHistory
WHERE   EndDate IS NOT NULL
ORDER BY ProductID;

ProductID,EndDate,MonthName,WeekDayName
707,2012-05-29 00:00:00.000,May,Tuesday
707,2013-05-29 00:00:00.000,May,Wednesday
708,2012-05-29 00:00:00.000,May,Tuesday
708,2013-05-29 00:00:00.000,May,Wednesday
709,2012-05-29 00:00:00.000,May,Tuesday

In [9]:
-- recipe 10.8
SELECT  TOP (5)
        ProductID,
        EndDate,
        DATEPART(YEAR, EndDate) AS [Year],
        DATEPART(MONTH, EndDate) AS [Month],
        DATEPART(DAY, EndDate) AS [Day]
FROM    Production.ProductCostHistory
WHERE   EndDate IS NOT NULL
ORDER BY ProductID;

ProductID,EndDate,Year,Month,Day
707,2012-05-29 00:00:00.000,2012,5,29
707,2013-05-29 00:00:00.000,2013,5,29
708,2012-05-29 00:00:00.000,2012,5,29
708,2013-05-29 00:00:00.000,2013,5,29
709,2012-05-29 00:00:00.000,2012,5,29

In [10]:
-- recipe 10.9
SELECT  MyData,
        ISDATE(MyData) AS IsADate
FROM    ( VALUES ( 'IsThisADate'), 
                 ( '2012-02-14'), 
                 ( '2012-01-01T00:00:00'),
                 ( '2012-12-31T23:59:59.9999999') ) dt (MyData);

MyData,IsADate
IsThisADate,0
2012-02-14,1
2012-01-01T00:00:00,1
2012-12-31T23:59:59.9999999,0

In [11]:
-- recipe 10.10
SELECT  MyData,
        EOMONTH(MyData) AS LastDayOfThisMonth,
        EOMONTH(MyData, 1) AS LastDayOfNextMonth
FROM    (VALUES ('2012-02-14T00:00:00' ),
                ('2012-01-01T00:00:00'),
                ('2012-12-31T23:59:59.9999999')) dt(MyData);

MyData,LastDayOfThisMonth,LastDayOfNextMonth
2012-02-14T00:00:00,2012-02-29,2012-03-31
2012-01-01T00:00:00,2012-01-31,2012-02-29
2012-12-31T23:59:59.9999999,2012-12-31,2013-01-31

In [12]:
-- recipe 10.11
SELECT  'DateFromParts' AS ConversionType, 
        DATEFROMPARTS(2012, 8, 15) AS [Value];
SELECT  'TimeFromParts' AS ConversionType, 
        TIMEFROMPARTS(18, 25, 32, 5, 1) AS [Value];
SELECT  'SmallDateTimeFromParts' AS ConversionType, 
        SMALLDATETIMEFROMPARTS(2012, 8, 15, 18, 25) AS [Value];
SELECT  'DateTimeFromParts' AS ConversionType, 
        DATETIMEFROMPARTS(2012, 8, 15, 18, 25, 32, 450) AS [Value];
SELECT  'DateTime2FromParts' AS ConversionType, 
        DATETIME2FROMPARTS(2012, 8, 15, 18, 25, 32, 5, 7) AS [Value];
SELECT  'DateTimeOffsetFromParts' AS ConversionType, 
        DATETIMEOFFSETFROMPARTS(2012, 8, 15, 18, 25, 32, 5, 4, 0, 7) AS [Value];

SELECT TIMEFROMPARTS(18, 25, 32, 5, 1);
SELECT TIMEFROMPARTS(18, 25, 32, 5, 2);
SELECT TIMEFROMPARTS(18, 25, 32, 5, 3);
SELECT TIMEFROMPARTS(18, 25, 32, 5, 4);
SELECT TIMEFROMPARTS(18, 25, 32, 5, 5);
SELECT TIMEFROMPARTS(18, 25, 32, 5, 6);
SELECT TIMEFROMPARTS(18, 25, 32, 5, 7);
SELECT TIMEFROMPARTS(18, 25, 32, 50, 2);
SELECT TIMEFROMPARTS(18, 25, 32, 500, 3);

ConversionType,Value
DateFromParts,2012-08-15

ConversionType,Value
TimeFromParts,18:25:32.5000000

ConversionType,Value
SmallDateTimeFromParts,2012-08-15 18:25:00

ConversionType,Value
DateTimeFromParts,2012-08-15 18:25:32.450

ConversionType,Value
DateTime2FromParts,2012-08-15 18:25:32.0000005

ConversionType,Value
DateTimeOffsetFromParts,2012-08-15 18:25:32.0000005 +04:00

(No column name)
18:25:32.5000000

(No column name)
18:25:32.0500000

(No column name)
18:25:32.0050000

(No column name)
18:25:32.0005000

(No column name)
18:25:32.0000500

(No column name)
18:25:32.0000050

(No column name)
18:25:32.0000005

(No column name)
18:25:32.5000000

(No column name)
18:25:32.5000000

In [13]:
-- recipe 10.12
DECLARE @MyDate DATETIME2 = '2012-01-01T18:25:42.9999999',
        @Base   DATETIME =  '1900-01-01T00:00:00',
        @Base2  DATETIME =  '2000-01-01T00:00:00';

-- Solution 1
SELECT  MyDate,
       	DATEADD(YEAR,   DATEDIFF(YEAR,    @Base, MyDate), @Base) AS [FirstDayOfYear],
        DATEADD(MONTH,  DATEDIFF(MONTH,   @Base, MyDate), @Base) AS [FirstDayOfMonth],
        DATEADD(QUARTER,DATEDIFF(QUARTER, @Base, MyDate), @Base) AS [FirstDayOfQuarter]
FROM    (VALUES ('1981-01-17T00:00:00'),
                ('1961-11-23T00:00:00'),
                ('1960-07-09T00:00:00'),
                ('1980-07-11T00:00:00'),
                ('1983-01-05T00:00:00'),
                ('2006-11-27T00:00:00'),
                ('2013-08-03T00:00:00')) dt (MyDate);

SELECT  'StartOfHour' AS ConversionType, 
        DATEADD(HOUR,   DATEDIFF(HOUR,   @Base, @MyDate), @Base) AS DateResult
UNION ALL
SELECT  'StartOfMinute', 
        DATEADD(MINUTE, DATEDIFF(MINUTE, @Base, @MyDate), @Base) 
UNION ALL
SELECT  'StartOfSecond', 
        DATEADD(SECOND, DATEDIFF(SECOND, @Base2, @MyDate), @Base2);

        -- solution 2
SELECT  MyDate,
       	DATETIMEFROMPARTS(ca.Yr, 1,     1, 0, 0, 0, 0) AS FirstDayOfYear,
       	DATETIMEFROMPARTS(ca.Yr, ca.Mn, 1, 0, 0, 0, 0) AS FirstDayOfMonth,
       	DATETIMEFROMPARTS(ca.Yr, ca.Qt, 1, 0, 0, 0, 0) AS FirstDayOfQuarter
FROM    (VALUES ('1981-01-17T00:00:00'),
                ('1961-11-23T00:00:00'),
                ('1960-07-09T00:00:00'),
                ('1980-07-11T00:00:00'),
                ('1983-01-05T00:00:00'),
                ('2006-11-27T00:00:00'),
                ('2013-08-03T00:00:00')) dt (MyDate)
CROSS APPLY (SELECT DATEPART(YEAR, dt.MyDate) AS Yr,
                    DATEPART(MONTH, dt.MyDate) AS Mn,
                    ((CEILING(MONTH(dt.MyDate)/3.0)*3)-2) AS Qt
             ) ca;
WITH cte AS
(
SELECT  DATEPART(YEAR, @MyDate) AS Yr,
       	DATEPART(MONTH, @MyDate) AS Mth,
       	DATEPART(DAY, @MyDate) AS Dy,
      	DATEPART(HOUR, @MyDate) AS Hr,
      	DATEPART(MINUTE, @MyDate) AS Mn,
      	DATEPART(SECOND, @MyDate) AS Sec
)
SELECT  'StartOfHour' AS ConversionType,
       	DATETIMEFROMPARTS(cte.Yr, cte.Mth, cte.Dy, cte.Hr, 0, 0, 0) AS DateResult
FROM    cte
UNION ALL
SELECT  'StartOfMinute', 
        DATETIMEFROMPARTS(cte.Yr, cte.Mth, cte.Dy, cte.Hr, cte.Mn, 0, 0)
FROM    cte
UNION ALL
SELECT  'StartOfSecond', 
       	DATETIMEFROMPARTS(cte.Yr, cte.Mth, cte.Dy, cte.Hr, cte.Mn, cte.Sec, 0)
FROM    cte;

-- solution 3
SELECT  CONVERT(CHAR(10), ca.MyDate, 121) AS MyDate,
       	CAST(FORMAT(ca.MyDate, 'yyyy-01-01') AS DATETIME) AS FirstDayOfYear,
       	CAST(FORMAT(ca.MyDate, 'yyyy-MM-01') AS DATETIME) AS FirstDayOfMonth
FROM 	(VALUES ('1981-01-17T00:00:00'),
                ('1961-11-23T00:00:00'),
                ('1960-07-09T00:00:00'),
                ('1980-07-11T00:00:00'),
                ('1983-01-05T00:00:00'),
                ('2006-11-27T00:00:00'),
                ('2013-08-03T00:00:00')) dt (MyDate)
CROSS APPLY (SELECT CAST(dt.MyDate AS DATE)) AS ca(MyDate);

SELECT  'StartOfHour' AS ConversionType,
       	FORMAT(@MyDate, 'yyyy-MM-dd HH:00:00.000') AS DateResult
UNION ALL
SELECT  'StartOfMinute',
        FORMAT(@MyDate, 'yyyy-MM-dd HH:mm:00.000')
UNION ALL
SELECT  'StartOfSecond',
       	FORMAT(@MyDate, 'yyyy-MM-dd HH:mm:ss.000');

MyDate,FirstDayOfYear,FirstDayOfMonth,FirstDayOfQuarter
1981-01-17T00:00:00,1981-01-01 00:00:00.000,1981-01-01 00:00:00.000,1981-01-01 00:00:00.000
1961-11-23T00:00:00,1961-01-01 00:00:00.000,1961-11-01 00:00:00.000,1961-10-01 00:00:00.000
1960-07-09T00:00:00,1960-01-01 00:00:00.000,1960-07-01 00:00:00.000,1960-07-01 00:00:00.000
1980-07-11T00:00:00,1980-01-01 00:00:00.000,1980-07-01 00:00:00.000,1980-07-01 00:00:00.000
1983-01-05T00:00:00,1983-01-01 00:00:00.000,1983-01-01 00:00:00.000,1983-01-01 00:00:00.000
2006-11-27T00:00:00,2006-01-01 00:00:00.000,2006-11-01 00:00:00.000,2006-10-01 00:00:00.000
2013-08-03T00:00:00,2013-01-01 00:00:00.000,2013-08-01 00:00:00.000,2013-07-01 00:00:00.000

ConversionType,DateResult
StartOfHour,2012-01-01 18:00:00.000
StartOfMinute,2012-01-01 18:25:00.000
StartOfSecond,2012-01-01 18:25:42.000

MyDate,FirstDayOfYear,FirstDayOfMonth,FirstDayOfQuarter
1981-01-17T00:00:00,1981-01-01 00:00:00.000,1981-01-01 00:00:00.000,1981-01-01 00:00:00.000
1961-11-23T00:00:00,1961-01-01 00:00:00.000,1961-11-01 00:00:00.000,1961-10-01 00:00:00.000
1960-07-09T00:00:00,1960-01-01 00:00:00.000,1960-07-01 00:00:00.000,1960-07-01 00:00:00.000
1980-07-11T00:00:00,1980-01-01 00:00:00.000,1980-07-01 00:00:00.000,1980-07-01 00:00:00.000
1983-01-05T00:00:00,1983-01-01 00:00:00.000,1983-01-01 00:00:00.000,1983-01-01 00:00:00.000
2006-11-27T00:00:00,2006-01-01 00:00:00.000,2006-11-01 00:00:00.000,2006-10-01 00:00:00.000
2013-08-03T00:00:00,2013-01-01 00:00:00.000,2013-08-01 00:00:00.000,2013-07-01 00:00:00.000

ConversionType,DateResult
StartOfHour,2012-01-01 18:00:00.000
StartOfMinute,2012-01-01 18:25:00.000
StartOfSecond,2012-01-01 18:25:42.000

MyDate,FirstDayOfYear,FirstDayOfMonth
1981-01-17,1981-01-01 00:00:00.000,1981-01-01 00:00:00.000
1961-11-23,1961-01-01 00:00:00.000,1961-11-01 00:00:00.000
1960-07-09,1960-01-01 00:00:00.000,1960-07-01 00:00:00.000
1980-07-11,1980-01-01 00:00:00.000,1980-07-01 00:00:00.000
1983-01-05,1983-01-01 00:00:00.000,1983-01-01 00:00:00.000
2006-11-27,2006-01-01 00:00:00.000,2006-11-01 00:00:00.000
2013-08-03,2013-01-01 00:00:00.000,2013-08-01 00:00:00.000

ConversionType,DateResult
StartOfHour,2012-01-01 18:00:00.000
StartOfMinute,2012-01-01 18:25:00.000
StartOfSecond,2012-01-01 18:25:42.000

In [14]:
-- recipe 10.13
DECLARE @Base DATETIME = '1900-01-01T00:00:00';
WITH cteExpenses AS 
(
SELECT  ca.FirstOfMonth,
        SUM(ExpenseAmount) AS MonthlyExpenses
FROM    ( VALUES ('2012-01-15T00:00:00', 1250.00),
                 ('2012-01-28T00:00:00', 750.00), 
                 ('2012-03-01T00:00:00', 1475.00),
                 ('2012-03-23T00:00:00', 2285.00), 
                 ('2012-04-01T00:00:00', 1650.00),
                 ('2012-04-22T00:00:00', 1452.00), 
                 ('2012-06-15T00:00:00', 1875.00),
                 ('2012-07-23T00:00:00', 2125.00) ) dt (ExpenseDate, ExpenseAmount)
CROSS APPLY (SELECT DATEADD(MONTH, 
                    DATEDIFF(MONTH, @Base, ExpenseDate), @Base) ) ca (FirstOfMonth)
GROUP BY  ca.FirstOfMonth
), cteMonths AS 
(
SELECT  DATEFROMPARTS(2012, M, 1) AS FirstOfMonth
FROM    ( VALUES (1), (2),  (3),  (4), 
                 (5), (6),  (7),  (8), 
                 (9), (10), (11), (12) ) Months (M)
)
SELECT  CAST(FirstOfMonth AS DATE) AS FirstOfMonth,
       	MonthlyExpenses
FROM    cteExpenses
UNION ALL
SELECT  m.FirstOfMonth,
        0
FROM    cteMonths M
        LEFT JOIN cteExpenses e
            ON M.FirstOfMonth = e.FirstOfMonth
WHERE   e.FirstOfMonth IS NULL
ORDER BY FirstOfMonth;

FirstOfMonth,MonthlyExpenses
2012-01-01,2000.00
2012-02-01,0.00
2012-03-01,3760.00
2012-04-01,3102.00
2012-05-01,0.00
2012-06-01,1875.00
2012-07-01,2125.00
2012-08-01,0.00
2012-09-01,0.00
2012-10-01,0.00
2012-11-01,0.00
2012-12-01,0.00

In [15]:
-- recipe 10.14
IF OBJECT_ID('dbo.Calendar') IS NULL
CREATE TABLE dbo.Calendar (
  		[Date] DATE CONSTRAINT PK_Calendar PRIMARY KEY CLUSTERED,
  		FirstDayOfYear DATE,
  		LastDayOfYear DATE,
  		FirstDayOfMonth DATE,
  		LastDayOfMonth DATE,
  		FirstDayOfWeek DATE,
  		LastDayOfWeek DATE,
  		DayOfWeekName NVARCHAR(20),
  		IsWeekDay BIT,
  		IsWeekEnd BIT);
GO
DECLARE @Base  DATETIME = '1900-01-01T00:00:00',
        @Start DATETIME = '2000-01-01T00:00:00';
INSERT INTO dbo.Calendar 
SELECT 	TOP (9497)
       		ca.Date,
       		cy.FirstDayOfYear,
       		cyl.LastDayOfYear,
       		cm.FirstDayOfMonth,
       		cml.LastDayOfMonth,
       		cw.FirstDayOfWeek,
       		cwl.LastDayOfWeek,
       		cd.DayOfWeekName,
       		cwd.IsWeekDay,
       		CAST(cwd.IsWeekDay - 1 AS BIT) AS IsWeekEnd
FROM        (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT 0))
             FROM sys.all_columns t1
             CROSS JOIN sys.all_columns t2) dt (RN)
CROSS APPLY (SELECT DATEADD(DAY, RN-1, @Start)) AS ca(Date)
CROSS APPLY (SELECT DATEADD(YEAR, DATEDIFF(YEAR, @Base, ca.Date), @Base)) AS cy(FirstDayOfYear)
CROSS APPLY (SELECT DATEADD(DAY, -1, DATEADD(YEAR, 1, cy.FirstDayOfYear))) AS cyl(LastDayOfYear)
CROSS APPLY (SELECT DATEADD(MONTH, DATEDIFF(MONTH, @Base, ca.Date), @Base)) AS cm(FirstDayOfMonth)
CROSS APPLY (SELECT DATEADD(DAY, -1, DATEADD(MONTH, 1, cm.FirstDayOfMonth))) AS cml(LastDayOfMonth)
CROSS APPLY (SELECT DATEADD(DAY,-(DATEPART(weekday ,ca.Date)-1),ca.Date)) AS cw(FirstDayOfWeek)
CROSS APPLY (SELECT DATEADD(DAY, 6, cw.FirstDayOfWeek)) AS cwl(LastDayOfWeek)
CROSS APPLY (SELECT DATENAME(weekday, ca.Date)) AS cd(DayOfWeekName)
CROSS APPLY (SELECT CASE WHEN cd.DayOfWeekName 
                         IN ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
                         THEN 1 
                         ELSE 0 
                    END) AS cwd(IsWeekDay);
GO

WITH cte AS
(
SELECT  FirstDayOfMonth,
        Date,
       	RN = ROW_NUMBER() OVER (PARTITION BY FirstDayOfMonth ORDER BY Date)
FROM   	dbo.Calendar
WHERE   DayOfWeekName = 'Thursday'
)
SELECT 	Date
FROM   	cte
WHERE   RN = 3
AND     FirstDayOfMonth = '2012-11-01T00:00:00';

SELECT  c1.Date
FROM    dbo.Calendar c1 -- prior week
        JOIN dbo.Calendar c2 -- current week
        	ON c1.FirstDayOfWeek = DATEADD(DAY, -7, c2.FirstDayOfWeek)
WHERE   c1.DayOfWeekName = 'Friday'
AND     c2.Date = CAST(GETDATE() AS DATE);

Date
2012-11-15

Date
2020-09-11

In [16]:
-- recipe 10.15
WITH cte AS 
(
SELECT  edh.BusinessEntityID,
        c.FirstDayOfMonth
FROM    HumanResources.EmployeeDepartmentHistory AS edh
        JOIN dbo.Calendar AS c
            ON c.Date BETWEEN edh.StartDate
                AND ISNULL(edh.EndDate, GETDATE())
GROUP BY edh.BusinessEntityID,
         c.FirstDayOfMonth
)
SELECT  FirstDayOfMonth,
        COUNT(*) AS EmployeeQty
FROM    cte
GROUP BY FirstDayOfMonth
ORDER BY FirstDayOfMonth;

IF OBJECT_ID('dbo.Calendar') IS NOT NULL DROP TABLE dbo.Calendar;

FirstDayOfMonth,EmployeeQty
2006-06-01,1
2006-07-01,1
2006-08-01,1
2006-09-01,1
2006-10-01,1
2006-11-01,1
2006-12-01,1
2007-01-01,2
2007-02-01,2
2007-03-01,2
2007-04-01,2
2007-05-01,2
2007-06-01,2
2007-07-01,2
2007-08-01,2
2007-09-01,2
2007-10-01,2
2007-11-01,3
2007-12-01,7
2008-01-01,12
2008-02-01,16
2008-03-01,19
2008-04-01,19
2008-05-01,19
2008-06-01,19
2008-07-01,19
2008-08-01,19
2008-09-01,19
2008-10-01,19
2008-11-01,19
2008-12-01,81
2009-01-01,142
2009-02-01,200
2009-03-01,216
2009-04-01,216
2009-05-01,217
2009-06-01,217
2009-07-01,217
2009-08-01,217
2009-09-01,217
2009-10-01,217
2009-11-01,217
2009-12-01,229
2010-01-01,244
2010-02-01,256
2010-03-01,262
2010-04-01,262
2010-05-01,262
2010-06-01,262
2010-07-01,262
2010-08-01,262
2010-09-01,262
2010-10-01,262
2010-11-01,262
2010-12-01,267
2011-01-01,270
2011-02-01,274
2011-03-01,274
2011-04-01,274
2011-05-01,283
2011-06-01,283
2011-07-01,283
2011-08-01,283
2011-09-01,283
2011-10-01,283
2011-11-01,283
2011-12-01,283
2012-01-01,283
2012-02-01,283
2012-03-01,283
2012-04-01,284
2012-05-01,286
2012-06-01,286
2012-07-01,286
2012-08-01,286
2012-09-01,287
2012-10-01,287
2012-11-01,287
2012-12-01,287
2013-01-01,287
2013-02-01,287
2013-03-01,288
2013-04-01,288
2013-05-01,290
2013-06-01,290
2013-07-01,290
2013-08-01,290
2013-09-01,290
2013-10-01,290
2013-11-01,290
2013-12-01,290
2014-01-01,290
2014-02-01,290
2014-03-01,290
2014-04-01,290
2014-05-01,290
2014-06-01,290
2014-07-01,290
2014-08-01,290
2014-09-01,290
2014-10-01,290
2014-11-01,290
2014-12-01,290
2015-01-01,290
2015-02-01,290
2015-03-01,290
2015-04-01,290
2015-05-01,290
2015-06-01,290
2015-07-01,290
2015-08-01,290
2015-09-01,290
2015-10-01,290
2015-11-01,290
2015-12-01,290
2016-01-01,290
2016-02-01,290
2016-03-01,290
2016-04-01,290
2016-05-01,290
2016-06-01,290
2016-07-01,290
2016-08-01,290
2016-09-01,290
2016-10-01,290
2016-11-01,290
2016-12-01,290
2017-01-01,290
2017-02-01,290
2017-03-01,290
2017-04-01,290
2017-05-01,290
2017-06-01,290
2017-07-01,290
2017-08-01,290
2017-09-01,290
2017-10-01,290
2017-11-01,290
2017-12-01,290
2018-01-01,290
2018-02-01,290
2018-03-01,290
2018-04-01,290
2018-05-01,290
2018-06-01,290
2018-07-01,290
2018-08-01,290
2018-09-01,290
2018-10-01,290
2018-11-01,290
2018-12-01,290
2019-01-01,290
2019-02-01,290
2019-03-01,290
2019-04-01,290
2019-05-01,290
2019-06-01,290
2019-07-01,290
2019-08-01,290
2019-09-01,290
2019-10-01,290
2019-11-01,290
2019-12-01,290
2020-01-01,290
2020-02-01,290
2020-03-01,290
2020-04-01,290
2020-05-01,290
2020-06-01,290
2020-07-01,290
2020-08-01,290
2020-09-01,290

In [17]:
-- recipe 10.16
SELECT 'sysdatetime' AS ConversionType, 126 AS Style,
       	CONVERT(varchar(30), SYSDATETIME(), 126) AS [Value] UNION ALL
SELECT 'sysdatetime', 127,
       	CONVERT(varchar(30), SYSDATETIME(), 127) UNION ALL
SELECT 'getdate', 126,
       	CONVERT(varchar(30), GETDATE(), 126) UNION ALL
SELECT 'getdate', 127,
       	 CONVERT(varchar(30), GETDATE(), 127);

ConversionType,Style,Value
sysdatetime,126,2020-09-13T09:11:12.0579278
sysdatetime,127,2020-09-13T09:11:12.0579278
getdate,126,2020-09-13T09:11:12.057
getdate,127,2020-09-13T09:11:12.057