In [1]:
/* 21-3 */
USE tempdb;
GO

BEGIN TRY
 SELECT 1/0  --This will raise a divide by zero error if not handled
END TRY
BEGIN CATCH
END CATCH;
GO

In [2]:
/* return structured error information */
USE tempdb;
GO
BEGIN TRY
  SELECT 1/0 --This will raise a divide by zero error if not handled
END TRY
BEGIN CATCH
  SELECT ERROR_LINE() AS 'Line',
		 ERROR_MESSAGE() AS 'Message',
		 ERROR_NUMBER() AS 'Number',
		 ERROR_PROCEDURE() AS 'Procedure',
		 ERROR_SEVERITY() AS 'Severity',
		 ERROR_STATE() AS 'State'
END CATCH;

Line,Message,Number,Procedure,Severity,State
2,Divide by zero error encountered.,8134,NULL,16,1

In [3]:
/* poor syntax errors */
USE tempdb;
GO

BEGIN TRY
  SELCT
END TRY
BEGIN CATCH
END CATCH;
GO

: Msg 102, Level 15, State 1, Line 6
Incorrect syntax near 'SELCT'.

In [4]:
/* binding errors */
USE tempdb;
GO

BEGIN TRY
  SELECT NoSuchTable
END TRY
BEGIN CATCH
END CATCH;
GO

: Msg 207, Level 16, State 1, Line 6
Invalid column name 'NoSuchTable'.

In [5]:
/* informational messages */
USE tempdb;
GO

BEGIN TRY
  RAISERROR('Information ONLY', 10, 1)
END TRY
BEGIN CATCH
END CATCH;
GO