In [1]:
/* 21-1 */
USE master;
GO

IF EXISTS(SELECT 1/0 FROM sys.databases WHERE name = 'Errors')
BEGIN
	DROP DATABASE Errors;
	CREATE DATABASE Errors;
END
ELSE 
BEGIN
	CREATE DATABASE Errors;
END

USE Errors;
GO

CREATE TABLE Works(
number	INT);

INSERT INTO Works
VALUES(1), 
	('A'),
	(3);

SELECT *
FROM Works;

: Msg 911, Level 16, State 1, Line 15
Database 'Errors' does not exist. Make sure that the name is entered correctly.

: Msg 245, Level 16, State 1, Line 21
Conversion failed when converting the varchar value 'A' to data type int.

In [2]:
/* and a working version */
USE master;
GO
IF EXISTS(SELECT 1/0 FROM sys.databases WHERE name = 'Errors')
BEGIN
	DROP DATABASE Errors;
	CREATE DATABASE Errors;
END
ELSE 
BEGIN
	CREATE DATABASE Errors;
END
GO
USE Errors;
GO
CREATE TABLE Works(number INT);
GO
INSERT INTO Works
VALUES(1), 
	('A'),
	(3);
GO
INSERT INTO Works
VALUES(1), 
	(2),
	(3);
GO
SELECT *
FROM Works;

: Msg 245, Level 16, State 1, Line 18
Conversion failed when converting the varchar value 'A' to data type int.

number
1
2
3