In [1]:
USE AdventureWorks2014;
GO

In [2]:
-- recipe 9.1
SELECT  TOP (5)
        FullName = CONCAT(LastName, ', ', FirstName, ' ', MiddleName)
FROM    Person.Person p; 

SELECT  TOP (5)
        FullName = CONCAT(LastName, ', ', FirstName, ' ', MiddleName),
        FullName2 = LastName + ', ' + FirstName + ' ' + MiddleName,
        FullName3 = LastName + ', ' + FirstName + 
            IIF(MiddleName IS NULL, '', ' ' + MiddleName)
FROM    Person.Person p
WHERE   MiddleName IS NULL;

FullName
"Abbas, Syed E"
"Abel, Catherine R."
"Abercrombie, Kim"
"Abercrombie, Kim"
"Abercrombie, Kim B"

FullName,FullName2,FullName3
"Abercrombie, Kim",NULL,"Abercrombie, Kim"
"Abercrombie, Kim",NULL,"Abercrombie, Kim"
"Abolrous, Sam",NULL,"Abolrous, Sam"
"Acevedo, Humberto",NULL,"Acevedo, Humberto"
"Achong, Gustavo",NULL,"Achong, Gustavo"

In [3]:
-- recipe 9.2
SELECT  ASCII('H'),
        ASCII('e'),
        ASCII('l'),
        ASCII('l'),
        ASCII('o');
SELECT  CHAR(72),
        CHAR(101),
        CHAR(108),
        CHAR(108),
        CHAR(111) ;

(No column name),(No column name),(No column name),(No column name),(No column name)
72,101,108,108,111

(No column name),(No column name),(No column name),(No column name),(No column name)
H,e,l,l,o

In [4]:
-- recipe 9.3
SELECT  UNICODE('G'),
        UNICODE('o'),
        UNICODE('o'),
        UNICODE('d'),
        UNICODE('!');
SELECT  NCHAR(71),
        NCHAR(111),
        NCHAR(111),
        NCHAR(100),
        NCHAR(33) ;

(No column name),(No column name),(No column name),(No column name),(No column name)
71,111,111,100,33

(No column name),(No column name),(No column name),(No column name),(No column name)
G,o,o,d,!

In [5]:
-- recipe 9.4
SELECT CHARINDEX('string to find','This is the bigger string to find something in.');

SELECT TOP 10
        AddressID,
        AddressLine1,
        PATINDEX('%[0]%Olive%', AddressLine1)
FROM    Person.Address
WHERE   PATINDEX('%[0]%Olive%', AddressLine1) > 0;

(No column name)
20

AddressID,AddressLine1,(No column name)
29048,1201 Olive Hill,3
11768,1201 Olive Hill,3
15417,1206 Olive St,3
24480,1480 Oliveria Road,4
19871,1480 Oliveria Road,4
12826,1803 Olive Hill,3
292,1803 Olive Hill,3
29130,2309 Mt. Olivet Ct.,3
23767,2309 Mt. Olivet Ct.,3
23875,3280 Oliveria Road,4

In [6]:
-- recipe 9.5
SELECT  DISTINCT 
        SOUNDEX(LastName),
        SOUNDEX('Smith'),
        LastName
FROM    Person.Person
WHERE   SOUNDEX(LastName) = SOUNDEX('Smith');

SELECT  DISTINCT
        SOUNDEX(LastName),
        SOUNDEX('smith'),
        DIFFERENCE(LastName, 'Smith'),
        LastName
FROM    Person.Person
WHERE   DIFFERENCE(LastName, 'Smith') = 4;

(No column name),(No column name),LastName
S530,S530,Schmidt
S530,S530,Smith
S530,S530,Smith-Bates
S530,S530,Sneath

(No column name),(No column name),(No column name),LastName
S530,S530,4,Smith
S530,S530,4,Smith-Bates
S530,S530,4,Sneath
S550,S530,4,Simon
S553,S530,4,Samant
S553,S530,4,Swaminathan

In [7]:
-- recipe 9.6
SELECT LEFT('I only want the leftmost 10 characters.', 10);
SELECT RIGHT('I only want the rightmost 10 characters.', 10);

SELECT  TOP (5)
        ProductNumber,
        ProductName = LEFT(Name, 10)
FROM    Production.Product;

SELECT  TOP (5)
        CustomerID,
        AccountNumber = CONCAT('AW', RIGHT(REPLICATE('0', 8)
                                     + CAST(CustomerID AS VARCHAR(10)), 8))
FROM    Sales.Customer;

(No column name)
I only wan

(No column name)
haracters.

ProductNumber,ProductName
AR-5381,Adjustable
BA-8327,Bearing Ba
BE-2349,BB Ball Be
BE-2908,Headset Ba
BL-2036,Blade

CustomerID,AccountNumber
1,AW00000001
2,AW00000002
7,AW00000007
19,AW00000019
20,AW00000020

In [8]:
-- recipe 9.7
SELECT  TOP (3)
        PhoneNumber,
        AreaCode = LEFT(PhoneNumber, 3),
        Exchange = SUBSTRING(PhoneNumber, 5, 3)
FROM    Person.PersonPhone
WHERE   PhoneNumber LIKE '[0-9][0-9][0-9]-[0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]';

PhoneNumber,AreaCode,Exchange
100-555-0115,100,555
100-555-0124,100,555
100-555-0137,100,555

In [9]:
-- recipe 9.8
SELECT LEN(N'She sells sea shells by the sea shore.  ');

SELECT DATALENGTH(N'She sells sea shells by the sea shore.  '); 
SELECT  DATALENGTH(123),
        DATALENGTH(123.0),
        DATALENGTH(GETDATE());

(No column name)
38

(No column name)
80

(No column name),(No column name),(No column name)
4,5,8

In [10]:
-- recipe 9.9
SELECT REPLACE('The Classic Roadie is a stunning example of the bikes that AdventureWorks have been producing for years – Order your classic Roadie today and experience AdventureWorks history.', 'Classic', 'Vintage');

(No column name)
The Vintage Roadie is a stunning example of the bikes that AdventureWorks have been producing for years – Order your Vintage Roadie today and experience AdventureWorks history.

In [11]:
-- recipe 9.10
SELECT STUFF ( 'My cat''s name is X. Have you met him?', 18, 1, 'Edgar' );

SELECT STUFF ( 'My cat''s name is X. Have you met him?', 18, 0, 'Edgar' );

SELECT STUFF ( 'My cat''s name is X. Have you met him?', 18, 8, '' );

(No column name)
My cat's name is Edgar. Have you met him?

(No column name)
My cat's name is EdgarX. Have you met him?

(No column name)
My cat's name is you met him?

In [12]:
-- recipe 9.11
SELECT  DocumentSummary
FROM    Production.Document
WHERE   FileName = 'Installing Replacement Pedals.doc';

SELECT  LOWER(DocumentSummary)
FROM    Production.Document
WHERE   FileName = 'Installing Replacement Pedals.doc';

SELECT  UPPER(DocumentSummary)
FROM    Production.Document
WHERE   FileName = 'Installing Replacement Pedals.doc';

SELECT UPPER (N'????????????? unicode');

DocumentSummary
Detailed instructions for replacing pedals with Adventure Works Cycles replacement pedals. Instructions are applicable to all Adventure Works Cycles bicycle models and replacement pedals. Use only Adventure Works Cycles parts when replacing worn or broken components.

(No column name)
detailed instructions for replacing pedals with adventure works cycles replacement pedals. instructions are applicable to all adventure works cycles bicycle models and replacement pedals. use only adventure works cycles parts when replacing worn or broken components.

(No column name)
DETAILED INSTRUCTIONS FOR REPLACING PEDALS WITH ADVENTURE WORKS CYCLES REPLACEMENT PEDALS. INSTRUCTIONS ARE APPLICABLE TO ALL ADVENTURE WORKS CYCLES BICYCLE MODELS AND REPLACEMENT PEDALS. USE ONLY ADVENTURE WORKS CYCLES PARTS WHEN REPLACING WORN OR BROKEN COMPONENTS.

(No column name)
????????????? UNICODE

In [13]:
-- recipe 9.12
SELECT CONCAT('''', LTRIM('     String with leading and trailing blanks.     '), '''' ); 

SELECT CONCAT('''', RTRIM('     String with leading and trailing blanks.     '), '''' ); 

SELECT CONCAT('''', LTRIM(RTRIM('   String with leading and trailing blanks    ')), '''' );

(No column name)
'String with leading and trailing blanks. '

(No column name)
' String with leading and trailing blanks.'

(No column name)
'String with leading and trailing blanks'

In [14]:
-- recipe 9.13
SELECT REPLICATE ('W', 30);
SELECT REPLICATE ('W_', 30);

(No column name)
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWW

(No column name)
W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_W_

In [15]:
-- recipe 9.14
DECLARE @string1 NVARCHAR(20) = 'elephant',
        @string2 NVARCHAR(20) = 'dog',
        @string3 NVARCHAR(20) = 'giraffe' ;

SELECT  *
FROM    ( VALUES
        ( CONCAT(@string1, SPACE(20 - LEN(@string1)), @string2,
                 SPACE(20 - LEN(@string2)), @string3,
                 SPACE(20 - LEN(@string3))))
	,
        ( CONCAT(@string2, SPACE(20 - LEN(@string2)), @string3,
                 SPACE(20 - LEN(@string3)), @string1,
                 SPACE(20 - LEN(@string1)))) ) AS a (formatted_string);

formatted_string
elephant dog giraffe
dog giraffe elephant

In [16]:
-- recipe 9.15
SELECT REVERSE('Hello World');

SELECT  Path = LEFT(physical_name, LEN(physical_name) - CHARINDEX('\', REVERSE(physical_name)) + 1),
        FileName = RIGHT(physical_name, CHARINDEX('\', REVERSE(physical_name)) - 1)
FROM    sys.database_files;

(No column name)
dlroW olleH

Path,FileName
C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\,AdventureWorks2014_Data.mdf
C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\,AdventureWorks2014_Log.ldf