In [1]:
/* 18-8 */
Use AdventureWorks2014;
GO
CREATE FUNCTION dbo.udf_SEL_SalesQuota ( @BusinessEntityID int, @ShowHistory bit ) 
RETURNS @SalesQuota TABLE (BusinessEntityID int, QuotaDate datetime, SalesQuota money)

AS 
BEGIN
INSERT Into @SalesQuota(BusinessEntityID, QuotaDate, SalesQuota)
      SELECT BusinessEntityID, ModifiedDate, SalesQuota
      FROM Sales.SalesPerson
      WHERE BusinessEntityID = @BusinessEntityID;
IF @ShowHistory = 1 
BEGIN
INSERT Into @SalesQuota(BusinessEntityID, QuotaDate, SalesQuota)
      SELECT BusinessEntityID, QuotaDate, SalesQuota
      FROM Sales.SalesPersonQuotaHistory
      WHERE BusinessEntityID = @BusinessEntityID;
END
RETURN 
END
GO

In [2]:
/* Test the UDF */

Use AdventureWorks2014;
GO

SELECT BusinessEntityID, QuotaDate, SalesQuota 
      FROM dbo.udf_SEL_SalesQuota (275,0);


Use AdventureWorks2014;
GO

SELECT BusinessEntityID, QuotaDate, SalesQuota 
      FROM dbo.udf_SEL_SalesQuota (275,1);

BusinessEntityID,QuotaDate,SalesQuota
275,2011-05-24 00:00:00.000,300000.0000

BusinessEntityID,QuotaDate,SalesQuota
275,2011-05-24 00:00:00.000,300000.0000
275,2011-05-31 00:00:00.000,367000.0000
275,2011-08-31 00:00:00.000,556000.0000
275,2011-12-01 00:00:00.000,502000.0000
275,2012-02-29 00:00:00.000,550000.0000
275,2012-05-30 00:00:00.000,1429000.0000
275,2012-08-30 00:00:00.000,1324000.0000
275,2012-11-30 00:00:00.000,729000.0000
275,2013-02-28 00:00:00.000,1194000.0000
275,2013-05-30 00:00:00.000,1575000.0000
275,2013-08-30 00:00:00.000,1218000.0000
275,2013-11-30 00:00:00.000,849000.0000
275,2014-03-01 00:00:00.000,869000.0000